<div
  class="flex flex-col h-[100dvh]
    bg-gray-50 dark:bg-gray-900
    text-gray-900 dark:text-gray-100
  "
>
  <div
    class="
      flex flex-col flex-1
      w-full max-w-[500px] min-w-[300px]
      mx-auto px-4
    "
  >

    <header
      class="
        sticky top-0 z-20
        bg-blue-600 dark:bg-gray-800
        shadow-md
        py-4
        px-4
        text-center
        text-white
        print:hidden
      "
    >
      <div class="flex justify-center items-center space-x-2">
        <img src="icons/icon-144x144.png" alt="App Icon" class="h-6 w-6">
        <h1 class="text-lg font-semibold">Aufstellungstool</h1>
      </div>
    </header>

    <main class="flex-1 overflow-y-auto pt-4 pb-16">
      <router-outlet></router-outlet>
    </main>
  </div>

  <nav
    class="fixed inset-x-0 bottom-0
        h-21
        bg-white dark:bg-gray-800
        border-t border-gray-200 dark:border-gray-700
           shadow-lg z-30 print:hidden
           pb-[env(safe-area-inset-bottom)]"
    style="padding-bottom: env(safe-area-inset-bottom);"
  >
    <div class="flex h-full justify-around items-center">
      <a
        routerLink="/lineup"
        routerLinkActive="text-blue-600 dark:text-blue-400"
        class="
            flex flex-col items-center justify-center
            p-2
            text-xl
            text-gray-600 dark:text-gray-400
            hover:text-blue-600 dark:hover:text-blue-400
            transition-colors
          "
      >
        📝
        <span class="text-xl font-medium">Aufstellung</span>
      </a>
      <a
        routerLink="/players"
        routerLinkActive="text-blue-600 dark:text-blue-400"
        [routerLinkActiveOptions]="{ exact: true }"
        class="
            flex flex-col items-center justify-center
            p-2
            text-xl
            text-gray-600 dark:text-gray-400
            hover:text-blue-600 dark:hover:text-blue-400
            transition-colors
          "
      >
        👤
        <span class="text-xl font-medium">Spieler</span>
      </a>
    </div>
  </nav>
</div>
